<div class="container">
  <div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">About
      <strong>Forevermore Santore</strong>
    </h2>
    <hr class="divider">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid mb-4 mb-lg-0" src="img/IMG_6420.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <p> Dave - loves Dad jokes, yard work, his white new balances, and beer. </p>
        
        <p> Katherine loves running, traveling, cats - especially her pet Reggie, tacos, and wine. </p>

        <p> While we have very different interests in life, we share the same values. </p>

        <p> Enough about us. We want to know what <bold> you </bold> want to hear us play at our wedding.

<a href="https://docs.google.com/forms/d/e/1FAIpQLSfJaHEe44JT-7XGsV2dcNReDGlHbmkYbjZj1roN2Q5qMQf8rg/viewform?usp=pp_urlhttps://docs.google.com/forms/d/e/1FAIpQLSfJaHEe44JT-7XGsV2dcNReDGlHbmkYbjZj1roN2Q5qMQf8rg/viewform?usp=pp_url" target="_blank">Request a song here</a></p>

<p>  Disclaimer: we can't promise it will be played. </p>

<p> We are registered at Bed Bath and Beyond.
      </div>
    </div>
  </div>
</div>
