<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/business-casual.css" rel="stylesheet">

  </head>

  <body>


    <!-- Navigation -->


    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Let's Get Started on Your Road to Success!</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="img/2017_09_28_Lia_LookFour_013.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <p><a href="mailto:Academicarchitect@yahoo.com" target="_top">Academicarchitect@yahoo.com</a> </p>
            <p><a href="tel:1-203-947-5271">Phone: 1-203-947-5271</a>  </>
            <p> I am willing to meet in person in Southwestern Connecticut, via Skype, FaceTime, or Google Hangouts. To reserve an appointment, please visit my calendar below. </p>
            <p> Generally I see clients Monday-Thursday from approximately 2 to 7 PM. Friday I see clients at 5:15 PM. Weekend appointments are available beginning at 2:15 PM with concurrent slots through 5:15 PM. Depending on availability each week, I will select Saturday or Sunday and inform clients so they can guarantee their selection.</p>
            <p> Cancellation Policy :You must cancel at least 48 hours in advance or you will be charged for your session in full. This notice allows me time to refill your appointment slot.  </p>
            <p> Pricing: Please call to learn more about my package options. Price will depend on what your goals are college or graduate school admissions, resume, etc. </p>
          </div>
        </div>
      </div>

      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/lialevitt/60min" style="min-width:320px;height:580px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
      <!-- Calendly inline widget end -->
      <!-- /.container -->
    <!-- /.container -->

  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
