<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/business-casual.css" rel="stylesheet">

  </head>

  <body>



    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>The Waterview</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="img/gardenroom.jpg" alt="">
          </div>
          <div class="col-lg-6">

            <p> The wedding will be held at The Waterview in Monroe, Connecticut. </p>
            <p>The ceremony will take place on the lower level of The Waterview in the Garden Room beginning at 3:45pm. </p>
            <p>The bright and spacious room boast large windows overlooking Lake Zoar and the cermony will take place just before sunset.  </p>
            <P> Cocktail hour, dinner, and dancing will commence immeadiately after upstairs in the East Ballroom. </p>
            <p> Address: 215 Roosevelt Drive, Monroe, CT
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Dinner Options</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/Filet_Mignon.jpg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Filet Mignon <br>
                  <small class="text-muted">Blue-Cheese Crusted Filet Mignon with Asparagus and Mashed Potatoes</small>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/poached-salmon_dill.jpg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0"> Poached Atlantic Salmon <br>
                  <small class="text-muted"> Poached Atlantic Salmon with Seasonal Vegatables and Lemon Aioli</small>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/pecanchicken.jpeg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Pecan-crusted Chicken <br>
                  <small class="text-muted">Pecan Crusted Chicken with Brussel Sprouts and Sweet Potatoes</small>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
