<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/business-casual.css" rel="stylesheet">

  </head>

  <body>

    

    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">You Graduated....
          <strong>Now What?</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="img/acedemic architect bubbles FINAL transparent.png" alt="">
          </div>
          <div class="col-lg-6">
            <p>Let Academic Architect take the stress out of your next step, whether it be applying for college, graduate school, or your next job. </p>
            <p>I have helped clients get into their dream colleges, grad schools, and into careers such as an Elementary Education Principal, Nurse, Lawyer, Paralegal, Engineer, Sports Management , Purchasing Professional, Photographer, Teacher, Various roles in Finance, Librarian , Pharmacist, Accountant, Various roles in Informational Technology. </p>
            <p> See the schools I have gotten my clients into below. </p>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Client Success Stories</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/western-new-england.jpg" alt="">
              <div class="card-body text-center">
                <p></p><br><br>
                <h4 class="card-title m-0">Bianca <br>
                  <small class="text-muted">Doctor of Pharmacy Program</small>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/rpi.png" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0"> William <br>
                  <small class="text-muted">Rensselaer Polytechnic Institute</small>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/uconnmba.jpg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Farzana <br>
                  <small class="text-muted">UCONN MBA Program</small>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
